/* Define your SCSS variables here */
$base-font-size: 62.5%;
$base-line-height: 1.5;
$base-font-family: 'Montserrat', sans-serif;
$base-color: #e8e8e8;
$base-background-color: #080808;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
// Override Bootstrap's default grid float breakpoint
//$grid-float-breakpoint: 1200px; 