/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
body {
    background-color: #080808;
    color: white;
  }
h1, h2, h3, h4, h5, h6, p, a {
    color: white;
  }